
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Inline Table Add Edit Delete using AngularJS in PHP Mysql</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    @*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <br />
        <h3 align="center">Inline Table Add Edit Delete using AngularJS in PHP Mysql</h3><br />
        <div class="table-responsive" ng-app="liveApp" ng-controller="liveController" ng-init="fetchData()">
            <div class="alert alert-success alert-dismissible" ng-show="success">
                <a href="#" class="close" data-dismiss="alert" ng-click="closeMsg()" aria-label="close">&times;</a>
                {{successMessage}}
            </div>
            @*<form name="testform" ng-submit="insertData()">*@
            <form name="testform">
                <button type="button" class="btn btn-primary btn-sm" ng-click="doAddNew()">Add</button>
                <table class="table table-bordered table-striped" name="{{gridName}}">
                    <thead>
                        <tr>
                            <th>CustomerID</th>
                            <th>Country</th>
                            <th>CompanyName</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if ="addNew == 'adding'">
                            <td><input type="text" ng-model="addData.CustomerID" class="form-control" placeholder="Enter CustomerID" ng-required="true" /></td>
                            <td><input type="text" ng-model="addData.Country" class="form-control" placeholder="Enter Country" ng-required="true" /></td>
                            <td><input type="text" ng-model="addData.CompanyName" class="form-control" placeholder="Enter CompanyName" ng-required="true" /></td>
                            <td>
                                <button type="submit" class="btn btn-success btn-sm" ng-disabled="testform.$invalid">Save</button>
                                <button type="submit" class="btn btn-success btn-sm" ng-click="doCancel()">Cancel</button>
                            </td>
                        </tr>
                        <tr ng-repeat="data in Customers" ng-include="getTemplate(data)"></tr>

                    </tbody>
                </table>
            </form>
            <script type="text/ng-template" id="display">
                <td>{{data.CustomerID}}</td>
                <td>{{data.Country}}</td>
                <td>{{data.CompanyName}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="showEdit(data)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="deleteData(data.id)">Delete</button>
                </td>
            </script>
            <script type="text/ng-template" id="edit">
                <td><input type="text" ng-model="formData.CustomerID" class="form-control" /></td>
                <td><input type="text" ng-model="formData.Country" class="form-control" /></td>
                <td><input type="text" ng-model="formData.CompanyName" class="form-control" /></td>
                <td>
                    <input type="hidden" ng-model="formData.data.id" />
                    <button type="button" class="btn btn-info btn-sm" ng-click="editData()">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="reset()">Cancel</button>
                </td>
            </script>
            @*<script type="text/ng-template" id="Insert">
                <tr>
                    <td><input type="text" ng-model="addData.CustomerID" class="form-control" placeholder="Enter CustomerID" ng-required="true" /></td>
                    <td><input type="text" ng-model="addData.Country" class="form-control" placeholder="Enter Country" ng-required="true" /></td>
                    <td><input type="text" ng-model="addData.CompanyName" class="form-control" placeholder="Enter CompanyName" ng-required="true" /></td>
                    <td><button type="submit" class="btn btn-success btn-sm" ng-disabled="testform.$invalid">Save</button></td>
                </tr>
            </script>*@
        </div>
    </div>
</body>
</html>
<script>
var app = angular.module('liveApp', []);

app.controller('liveController', function($scope, $http){

    $scope.formData = {};
    $scope.addData = {};
    $scope.success = false;
    $scope.rowcounts = null;
    $scope.addNew = null;
    $scope.addCancel = null;
    $scope.fetchData = function () {
        $http.get('http://localhost:7671/api/Customer').success(function (data) {
            $scope.Customers = data;
            $scope.rowcounts = data.length;
        });
    };

    $scope.getTemplate = function (data) {
        if (data.CustomerID === $scope.formData.CustomerID)
        {
            return 'edit';
        }
        else
        {
            return 'display';
        }

        //return 'display';
    };

    //$scope.fetchData = function(){
    //    $http.get('select.php').success(function(data){
    //        $scope.namesData = data;
    //    });
    //};

    $scope.insertData = function(){
        $http({
            method:"POST",
            url:"insert.php",
            data:$scope.addData,
        }).success(function(data){
            $scope.success = true;
            $scope.successMessage = data.message;
            $scope.fetchData();
            $scope.addData = {};
        });
    };

    $scope.showEdit = function(data) {
        $scope.formData = angular.copy(data);
    };

    $scope.editData = function(){
        $http({
            method:"POST",
            url:"edit.php",
            data:$scope.formData,
        }).success(function(data){
            $scope.success = true;
            $scope.successMessage = data.message;
            $scope.fetchData();
            $scope.formData = {};
        });
    };

    $scope.reset = function(){
        $scope.formData = {};
    };

    $scope.closeMsg = function(){
        $scope.success = false;
    };

    $scope.deleteData = function(id){
        if(confirm("Are you sure you want to remove it?"))
        {
            $http({
                method:"POST",
                url:"delete.php",
                data:{'id':id}
            }).success(function(data){
                $scope.success = true;
                $scope.successMessage = data.message;
                $scope.fetchData();
            });
        }
    };

    $scope.doAddNew = function () {
        $scope.addNew = "adding";
    };
    $scope.doCancel = function () {
        $scope.addCancel = "None adding";
        $scope.addNew = null;
    };
    //$scope.getAddtemplate = function (data) {
    //    if ($scope.add == true) {
    //        return 'Add';
    //    }
    //    else {
    //        return 'CancelAdd';
    //    }
    //    //return 'display';
    //};
});
//function TodoCrtl($scope) {

//    $scope.addNew = null;

//    $scope.addNew = function () {
//        $scope.addNew = "adding";
//    };

//}

</script>
